@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <br/>
    <h2>Une vote pour l'avtivité ce samedi!</h2>
    <br/>
    <p>click <strong>List en haut</strong> pour les activites disponibles!</p>
    <br/>
    <p>click <strong>Contact en haut</strong> pour nous contacter!</p>
    <br/>
    <br/>
    <p>Merci de votre collaboration!</p>
</div>
